* {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 0.875rem;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  width: 20%;
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

p a {
  text-decoration: none;
  color: #1a0dab;
  padding: 0 0.2em;
}

nav .google-apps {
  height: 18px;
}

.carbon-image {
  height: 12px;
  margin-right: 0.6em;
}

main {
  text-align: center;
  margin: 6.9em auto;
  padding: 5em;
}

p {
  margin-top: 1em;
}

main .google-logo {
  height: 80px;
}

.searchbox input {
  width: 47%;
  padding: 0.9em;
  margin-top: 1em;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
}

.searchbox i {
  position: absolute;
}

.button {
  margin-top: 1em;
}

.btn {
  padding: 1em;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  margin: 11px 4px;
}

footer {
  color: #70757a;
  flex-direction: column;
  background-color: #f2f2f2;
}

.top-footer {
  padding: 1em;
  font: 0.9375rem;
}

.bottom-footer {
  border-top: 1px solid gray;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.left a {
  margin-right: 1em;
  color: #70757a;
}

.right a {
  margin-left: 1em;
  color: #70757a;
}
